@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


/* Common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif", serif;
    /* background-color: #F6F9FF; */
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* Header and banner style */

.nav-bar {
    margin-top: 2rem;
}

.banner {
    margin-top: 10rem;
}

.banner-title {
    font-weight: bold;
    font-size: 65px;
}

.banner-description {
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}

.banner-span {
    color: #E95A08;
}

/* our plants section */
.our-plants {
    margin-top: 120px;
}

.cards-container {
    margin-top: 40px;
}

.btn {
    background-color: #E95A08;
    width: 100%;
    /* padding: 15px 25px; */
    font-weight: 500;
    font-size: 16px;
    color: white;
    border: none;
}

/* flower lover */
.trusted-badge {
    width: 286px;
}

.flower-lover {
    margin-top: 15rem;
}

.lover-right {
    margin-top: 3rem;
}

.flower-title {
    font-weight: bold;
    font-size: 50px;
}

.list-description {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.flower-list {
    padding: 5px 40px;
}

.lover-left {
    position: relative;
}

.lover-right {
    position: relative;
}

.flower-store {}

.badge {
    width: 286px;
    margin-top: -45rem;
    margin-left: 21rem;
}

/* Latest  Deals  */



.leatest-deal {
    margin-top: 5rem;
    height: 700px;
}

.deal-top {
    text-align: center;
}

.deals-container {
    margin-top: 2rem;
    display: flex;
    gap: 20px;

}



.deals-item {
    position: relative;

}

.deals-item img {
    border-radius: 18px;
    padding: 8px 0px;
}

.deals-content1 {
    text-align: center;
    margin-top: -339px;
}

.deals-content2 {
    margin-top: 157px;
    text-align: center;
}

.deals-content3 {
    text-align: center;
    margin-top: -250px;
}


.deals-title {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.deals-title-big {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.deals-a {
    font-weight: 700;
    font-size: 16px;
    background: transparent;
    color: white;
    text-decoration: underline;

}

.deals-a-big {
    font-weight: 700;
    font-size: 28px;
    background: transparent;
    color: white;
    text-decoration: underline;

}

/* Join the colorful Bunch */

.join-now {
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.join h1 {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.input-grp {
    display: flex;
    margin-top: 1rem;
}

.input-grp input {
    padding: 2px 230px;

    background-color: white;
    border: none;
}

.input-grp button {
    background-color: #E95A08;
    color: white;
    padding: 8px 30px;
    font-weight: 500;
    font-size: 1rem;
}









/* media query */
@media (max-width: 768px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 15px 15px;
    }

    .nav-items {
        margin-top: 25px;
    }

    .banner {
        margin-top: 1rem;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 35px;
    }

    .banner-description {
        margin-top: 1rem;
    }

    .banner-left {
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .home,
    .shop,
    .about-us {
        display: none;

    }

    .our-plants {
        margin: 50px 10px;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 15px;
    }

    .card {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .flower-lover {
        margin-top: 4rem;
        margin: 100px 10px;
    }

    .lover-right {
        margin-left: 12px;
    }

    .flower-title {
        font-size: 26px;
    }

    .list-description {
        font-size: 15px;
    }

    /* leatest deal */
    .leatest-deal {
        margin: 10px 10px;
        height: 93vh;
    }

    .deals-container {
        gap: 95px;
        flex-direction: column;
        align-items: center;
    }

    .deals-title-big {
        font-size: 20px;
    }

    .deals-a-big {
        font-size: 20px;
    }

    .deals-content3 {
        margin-top: -150px;
    }

    /* join now */
    .join-now {
        height: 275px;
    }

    .join h1 {
        font-size: 20px;
    }

    .input-grp input {
        padding: 0;
    }

}